# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# C extensions
*.so

# Debug logs
*.log
nohup.out

# VSCode files
.vscode/

# Distribution / packaging
.Python
bin/
downloads/
creds.json
